* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: auto;
}

#app {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

/* 滚动条样式 */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--text-placeholder);
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background: var(--page-bg-color);
}

/* 暗黑模式下的滚动条 */
html.dark::-webkit-scrollbar-thumb {
  background: var(--text-secondary);
}
